<form accept-charset="UTF-8" action="/login" method="post"><div style="margin:0;padding:0;display:inline"></div>
  <div class="field">
    <label for="email">Email</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div class="field">
    <label for="password">Password</label><br />
    <input id="password" name="password" type="password" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>
  <div>
  	<label for="keep_me_logged_in">Keep me logged in</label><br />
    <input id="remember" name="remember" type="checkbox" value="1" />
  </div>
</form>