<form accept-charset="UTF-8" action="/password_resets" method="post"><div style="margin:0;padding:0;display:inline"></div>
  <div class="field">
    <label for="email">Email</label><br />
    <input id="email" name="email" type="text" /> <input name="commit" type="submit" value="Reset my password!" />
  </div>
</form>
